
{% load static %}

<html>

    <head>

        <title> HomePage | Test1 </title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" />


        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

    </head>


    <!-- navbar here -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center ">

      <a class="navbar-brand main-heading">
  
          &nbsp; Test1
  
      </a>
  
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
  
          <span class="navbar-toggle-icon"></span>
  
      </button>
  
      <diV class="collapse navbar-collapse text-center" id="navbarNavDropdown">
  
          <ul class="navbar-nav ml-auto">
  
  
  
              &nbsp;      &nbsp;      &nbsp;
  
  
  
              <li class="nav-item ">
  
                  <a class="btn btn-primary navbar-btn " type="button" href="{% url 'register' %}"> Register </a>
  
              </li>
  
  
  
              &nbsp;      &nbsp;      &nbsp;
  
  
  
              <li class="nav-item ">
  
                  <a class="btn btn-primary navbar-btn " type="button" href="{% url 'my-login' %}"> Login </a>
  
  
              </li>
  
  
              &nbsp;      &nbsp;      &nbsp;
  
  
          </ul>
  
  
      </diV>
  
  </nav>
  <!-- Navbar ends here -->

    <h1> HomePage </h1>

    
    <script src="{% static 'js/app.js' %}"> </script>


</html>